.pBody {
    text-align: left;
    float: left;
    display: block;
    
    
}


.pLogo {
 
    width: 150px;
    float: right;
    margin-top: 15px;
    
}

.b {
    float: left;
    width: 60%;
}
.pButton{
    margin-top: 15px;
    margin-bottom: 20px;
    float: left;
    border: 1px solid;
    width: 100px;
    height: 30px
}
.pButton:hover{
    background-color: #f9a404;
    border-color: #f9a404;
    color: white;
}

