.pBody {
    text-align: left;
    float: left;
    display: block;
    width: 70%;
    margin-bottom: 3vw;
    
}

.pLogo {
    display: block;
    width: 15vw;
    float: right;
    margin-top: 2vw;
}
.pLogo img {
    width: 100%;
}

#zomia {
    margin-top: 3vw;
}
.b {
    float: left;
}

.pBody h3 {
    margin-bottom: 0;
}

.pBody.lButton {
    margin-top: 3vw;
}
