.histImg {
    font-size: 10px;
    text-align: center;
  }
  strong{
    font-weight: bold;
  }
  ul {
    text-align: left;
  }
  
  a {
    color: #1d1d21;
  }
  .Body {
    background-color: white;
    padding-bottom: 7%;
    
  }
  
  
  p {
    font-weight: 300;
    font-size: 14px;
    
  }