.histImg {
    font-size: 10px;
    text-align: center;
  }
  strong{
    font-weight: bold;
  }
  ul {
    text-align: left;
  }
  
  a {
    color: #1d1d21;
  }
  .Body {
    background-color: white;
    padding-bottom: 2%;
    padding-left: 8.9%;
    padding-right: 8%;
    
  }
  
  p, ul {
    text-align: justify;
    clear: both;
    line-height: 200%;
    font-kerning: normal;
    letter-spacing: 0.3px;
  }
  

  p {
    font-weight: 300;
    font-size: 14px;
    
  }
  


h1,h2 {
  color: #000000;
  font-size: 25px;
}