footer {
    display: block;
    padding-bottom: 2%;
    padding-top: 10px; 
    border-top: 1px solid grey;
    font-size: 5;
    float: left;
    margin-top: 1%;
    width: 100%;
}
.info {
    float: left;
    padding-left: 40px;
}
.sm {
    float: right;
    padding-top:30px;
    padding-right: 40px;
}
.sm img {
    height: 35px;
    padding: 10px;
}
.fb{
    float: right;
    
}
.ig{
    float: right;
    clear: both;
}
h6 {
    font-weight: 400;
    line-height: 20px;
    font-size: 10pt;
}
@media only screen and (max-width: 700px) {
    .info {
      padding-left: 8px;
    }
    .sm {
        padding-right: 8px;
    }
  }