.header{
    padding-bottom: 0%;
    height: 3%;
    display: table;
}
.pcp{
    float: left;
    color: #f9a404;
<<<<<<< HEAD
<<<<<<< HEAD
    font-size: 45px;
=======
    padding-left: 20px;
    font-size: 30px;
>>>>>>> f17f355925fee720908ae721e948e9ed4eb5f6ea
=======
    padding-left: 20px;
    font-size: 30px;
>>>>>>> ab8c67cfc8577515acfa4eafaf4a4c24d4bbe24e
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}
.pcp strong{
    color: #3a54a5;
    font-weight: 600;
    
}

.image{
    width: 8%;
    overflow: hidden;
    padding: 0px;
    display: table-cell;
    vertical-align: middle;

}

.text{
    width: 80%;
    line-height: 2px;
    overflow: hidden;
    position: relative;
    line-height: 50px;
    display: table-cell;
    vertical-align: middle;
    
}
