.header{
    padding-bottom: 2%;
    height: 5%;
    display: table;
}
.pcp{
    float: left;
    color: #f9a404;
    font-size: 40px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}
.pcp strong{
    color: #3a54a5;
    font-weight: 600;
    
}

.image{
    width: 15%;
    overflow: hidden;
    padding: 10px;
    display: table-cell;
    vertical-align: middle;
}

.text{
    width: 80%;
    line-height: 2px;
    overflow: hidden;
    height: 160px;
    position: relative;
    line-height: 50px;
    display: table-cell;
    vertical-align: middle;
    
}
