.videoBlock {
    display: table;
    width: 100%;
}
.Left {
    width: 873.6px;
    display: table-cell;
    vertical-align: middle;
}

.Right {
    background-color: #f9a404;
    display: table-cell;
    vertical-align: middle;

}
.main{
    text-align: justify;
    clear: both;

    

}
.Right h2, h3 {
    color: white;
    font-weight: 200;
    font-family: 'Times New Roman', Times, serif;
}
