.videoBlock {
    display: block;
    width: 100%;
    float: left;
}
.Left {
    width: 873.6px;
    display: block;
    float: left;
}

.Right {
    background-color: #f9a404;
    display: table-cell;
    height: 495px;
    vertical-align: middle;

}
.main{
    text-align: justify;
}

.hp {
    display: block;
    float: left;
    margin: auto;
}
.text {
    padding:5px;
    text-align: center;
    line-height: 20px;
}
.Right {
    color: white;
    font-weight: 200;
    font-family: 'Times New Roman', Times, serif;
    padding: 0px;
}
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

.hp {
    padding-bottom: 2%;
    padding-left: 8.9%;
    padding-right: 8%;
    padding-top: 15px;
  }

li {
  
  
}
  
  @media only screen and (max-width: 700px) {
    .hp {
      padding: 8px;
    }
  }