/* Navbar container */
p, ul {
  text-align: justify;
  clear: both;
  line-height: 200%;
  font-kerning: normal;
  letter-spacing: 0.3px;
}
.histImg {
  font-size: 10px;
  text-align: center;
}
strong{
  font-weight: bold;
}
ul {
  text-align: left;
}

a {
  color: #1d1d21;
}

.navbar {
    clear: both;
    overflow: hidden;
    display: inline-block;
    text-align: center;
    background-color: white;
    
  }
  
  /* The dropdown container */
  .dropdown {
    float: left;
    overflow: hidden;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid;
    border-bottom: 1px solid;
    padding-inline: 40px;
    border-color: grey;


  }
  
  /* Dropdown button */
   .dropbtn {
    font-size: 16px; 
    border: none;
    outline: none;
    color:#1d1d21;
    width: 20 px;
    padding-top: 8px;
    padding-bottom: 8px; 
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
    
  }
  
  /* Add a red background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover {
    background-color: #f9a404;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }