.t table {
    width: 100%;
    border-collapse: collapse;
}
.t table, th, td {
    border: 1px solid #4f4f4f;
    border-collapse: collapse;
  }
.t  {
    padding: 5px;
    text-align: left;
}
.t th, td {
    padding: 10px;
}

.logos {
    width: 60px;
    padding-left: 5px;
}
.t .RB {
    border-right: none;
}
.t .LB {
    border-left: none;
    padding-bottom: 15px;
}

.t .title {
    line-height: 2;
}
