.t table {
    width: 100%;
}
.t table, th, td {
    border: 1px solid black;
    border-collapse: collapse;

  }

.t  {
    padding: 5px;
    text-align: left;
}
.t th, td {
    padding: 10px;
}

.logos {
    width: 50px;
}